.giraffe__heading {
    padding-top: 10px;
    padding-bottom: 20px;

    @include mq(tablet){
        padding-left: 60px;
    }
    @include mq(desktop){
        padding-left: 60px;
    }
}

    .giraffe__heading--main, .giraffe__heading--sub {
        font-family: $f-serif-headline;
        font-weight: 900;

        font-size: 24px;
        line-height: 28px;

        @include mq(tablet){
            font-size: 24px;
            line-height: 36px;
        }
        @include mq(desktop){
            font-size: 34px;
            line-height: 44px;
        }
    }

    .giraffe__heading--main {
        color: black;
    }
    .giraffe__heading--sub {
        color: white;
        padding-top: 10px;
    }

    .giraffe__heading--sub--indent {
        display: block;
        padding-left: 42px;

        @include mq(tablet){
            padding-left: 42px;
        }
        @include mq(desktop){
            padding-left: 100px;
        }
    }

