.contributions__heading {
    margin: $gs-baseline 0;

    @include mq(tablet) {
        margin-top: 60px;
        margin-bottom: 24px;
    }

    @include mq(desktop) {
        margin-bottom: 36px;
    }
}

.contributions__heading--main, .contributions__heading--sub {
    font-family: $f-serif-headline;
    font-weight: 900;
    font-size: 24px;
    line-height: 24px;

    @include mq(tablet){
        font-size: 36px;
        line-height: 36px;
    }

    @include mq(desktop){
        font-size: 44px;
        line-height: 44px;
    }
}

.contributions__heading--main {
    color: color(neutral-1);
}

.contributions__heading--sub {
    color: white;
}

.heading-line--indent-min {
    @include heading-indent(30px, 25px, 40px);
}

.heading-line--indent-max {
    @include heading-indent(90px, 100px, 200px);
}

.sub-heading-line--indent {
    @include heading-indent(60px, 50px, 120px);
}

//Styles which make giraffe appear in global gu branding
.container-global.container-global--giraffe, .global-footer.global-footer--giraffe {

    .control__icon {
        border: 1px solid rgba(255, 255, 255, 0.3)
    }

    .control__icon, .control__info, .control__item {
        color: white;
    }

    .global-header {
        @include mq($until: tablet) {
            height: auto;
            height: unset;
        }
        background-color: #005689;
    }

    .global-header__inner {
        height: 57px;

        @include mq(tablet) {
            height: 130px;
        }
    }

    .mobile-menu {
        display: none;
    }

    .global-header__branding, .global-header__inner {
        background: #005689;
        padding-bottom: 0;
    }

    .global-header__inner {
        @include mq(tablet) {
            padding-bottom: 2 * $gs-gutter;
        }
    }

    .global-header__logo {
        svg {
            height: 30px;
            width: 160px;
        }

        @include mq(tablet) {
            svg {
                height: 60px;
                width: 320px;
            }
        }
    }
    .global-navigation {
        display: none;
        @include mq(tablet) {
            display: block;
        }
    }
    .global-navigation, .global-brandbar {
        background: #00507f;
        //display: none; //for mobile
    }

    .global-navigation__scroll {
        background: #00456e;
        width: 100%;
    }
}
