@import '../vars';

.spinner {
    background: none;
    position: relative;
    float: right;
    height: 42px;
    width: 42px;
    top: -16px;
    right: 16px;
    transform: scale(0.2);
}

.spinner-text {
    @include fs-textSans(4);
    position: relative;
    float: right;
    top: 9px;
    right: 9px;
    color: $c-neutral2;
}

@keyframes spinner {
    0% {
        opacity: 1;
        transform: scale(1.4);
    }
    100% {
        opacity: 0.1;
        transform: scale(1);
    }
}

.spinner > div {
    width: 20px;
    height: 20px;
    margin-left: 6px;
    margin-top: 6px;
    position: absolute;
}

.spinner > div > div {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: $blue;
}

.spinner > div:nth-of-type(1) > div {
    animation: spinner 1s linear infinite;
    animation-delay: 0s;
}

.spinner > div:nth-of-type(1) {
    transform: translate(84px, 84px) rotate(45deg) translate(70px, 0);
}

.spinner > div:nth-of-type(2) > div {
    animation: spinner 1s linear infinite;
    animation-delay: 0.12s;
}

.spinner > div:nth-of-type(2) {
    transform: translate(84px, 84px) rotate(90deg) translate(70px, 0);
}

.spinner > div:nth-of-type(3) > div {
    animation: spinner 1s linear infinite;
    animation-delay: 0.25s;
}

.spinner > div:nth-of-type(3) {
    transform: translate(84px, 84px) rotate(135deg) translate(70px, 0);
}

.spinner > div:nth-of-type(4) > div {
    animation: spinner 1s linear infinite;
    animation-delay: 0.37s;
}

.spinner > div:nth-of-type(4) {
    transform: translate(84px, 84px) rotate(180deg) translate(70px, 0);
}

.spinner > div:nth-of-type(5) > div {
    animation: spinner 1s linear infinite;
    animation-delay: 0.5s;
}

.spinner > div:nth-of-type(5) {
    transform: translate(84px, 84px) rotate(225deg) translate(70px, 0);
}

.spinner > div:nth-of-type(6) > div {
    animation: spinner 1s linear infinite;
    animation-delay: 0.62s;
}

.spinner > div:nth-of-type(6) {
    transform: translate(84px, 84px) rotate(270deg) translate(70px, 0);
}

.spinner > div:nth-of-type(7) > div {
    animation: spinner 1s linear infinite;
    animation-delay: 0.75s;
}

.spinner > div:nth-of-type(7) {
    transform: translate(84px, 84px) rotate(315deg) translate(70px, 0);
}

.spinner > div:nth-of-type(8) > div {
    animation: spinner 1s linear infinite;
    animation-delay: 0.87s;
}

.spinner > div:nth-of-type(8) {
    transform: translate(84px, 84px) rotate(360deg) translate(70px, 0);
}
