@import views.support.Asset
@()

<!DOCTYPE html>
<html lang="en-GB" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://www.paypalobjects.com/api/checkout.js"></script>
        <script src="https://interactive.guim.co.uk/libs/iframe-messenger/iframeMessenger.js"></script>
        <script type="text/javascript">
            iframeMessenger.enableAutoResize();
        </script>

        <link rel="stylesheet" media="all" href="@Asset.at("stylesheets/inlinePayment.css")">
    </head>
    <body>

        <div class="contributions__epic">
            <div>
                <h2 class="contributions__title contributions__title--epic">
                    Since you’re here&hellip;
                </h2>
                <p class="contributions__paragraph contributions__paragraph--epic">
                    &hellip; we have a small favour to ask. More people are reading the Guardian than ever but advertising
                    revenues across the media are falling fast. And <span class="contributions__highlight">unlike many news organisations,
                    we haven’t put up a paywall &ndash; we want to keep our journalism as open as we can.</span>
                    So you can see why we need to ask for your help.
                    The Guardian’s independent, investigative journalism takes a lot of time,
                    money and hard work to produce. But we do it because we believe our perspective matters &ndash;
                    because it might well be your perspective, too.
                </p>
                <p class="contributions__paragraph contributions__paragraph--epic">
                    If everyone who reads our reporting, who likes it, helps to support it, our future would be much more secure.
                </p>
            </div>

            <div id="inline-form"></div>
        </div>

        <script src="@Asset.at("javascripts/inlinePayment.js")"></script>
    </body>
</html>
