@import com.gu.i18n.CountryGroup
@import views.support.PageInfo
@import views.support.CountryGroupImplicits._
@import abtests.Allocation

@(pageInfo: PageInfo = views.support.PageInfo(),
    countryGroup: CountryGroup,
    maxAmount: Option[Int] = None,
    mainScript: Option[String] = None,
    errorMessage:Option[String])(content: Html)

@main(pageInfo, Some(countryGroup), maxAmount, mainScript) {
    <div class="contributions--aus-campaign">
        <section class="contributions__banner--aus-campaign">
            <div class="l-constrained"></div>
        </section>

        <main class="contributions__wrapper currency-@countryGroup.currency.toString.toLowerCase">

            @for(message <- errorMessage) {
                <div id="errorDialog" class="overlay">
                    <div>
                        <h1 class="errorHeader">We're sorry</h1>
                        <p class="errorMessage">@message</p>
                        <button class="action action--button contribute-navigation__next" id="errorDialogButton">OK</button>

                    </div>
                </div>
            }

            <section class="contributions__inner page-slice l-constrained flex-horizontal-from-tablet">
                <div class="contributions__inner-wrapper">
                    <hgroup class="contributions__heading">

                        <h2 class="contributions__heading--sub">
                            <strong>Our wide brown land</strong>
                            <span>Support our new series that shines the spotlight</span><br/>
                            <span>on Australia’s neglected environmental issues</span>
                        </h2>

                    </hgroup>
                    <div class="contributions__detail">
                        <div class="contributions__detail__para">
                            <hr />

                            <h1>Help us to move these issues up the public agenda and challenge governments to do more</h1><br>

                            <p>Australia’s fragile environment is under attack. Environmental protections have been dramatically eroded and funding slashed. The threat to climate change so dominates debate that other pressing and immediate environmental dangers struggle for attention. Few Australians know that our country has one of the worst records for species loss, with even the koala threatened; that microplastic pollution is so prevalent it can be found in the sediments of our river estuaries and nearby ocean floors; or that land clearing rates are just as severe as the notorious deforestation of the Brazilian Amazon.</p>

                            <p>We are asking readers to financially support a new Guardian Australia series that will ensure the full range of immediate environmental threats are exposed and investigated with rigour and depth. Our independent coverage will work to inform and engage the public and share information with you on how to take further action to protect <a href="https://www.theguardian.com/environment/series/our-wide-brown-land" target="_parent">“our wide brown land”</a>. Thanks to our readers, we’ve reached our original target to financially support the new Guardian Australia series investigating the full range of environmental threats. But there’s more work to do, so we’ve adjust our funding target to $100,000.</p>

                            <p>Over the next three months, with your support, we will be able to report on the animals at the very edge of extinction, the ecological fallout from invasive plant species, the looming fracking crisis, the threats to our oceans, and the plight of the Murray-Darling basin. Help us move this most important of issues up the public agenda, empower those already taking a stand, and challenge governments to do more. </p>

                        </div>
                    </div>
                </div>

                @content
            </section>
        </main>

        <section id="ticker" data-src='https://interactive.guim.co.uk/docsdata/1OzEd_i8GQBLrM87wEFV_ll2kEtFSB6wFf3YUOw2G8PE.json'></section>

        <section class="disclaimer">
            <div class="support-wrapper page-slice page-slice__feedback l-constrained currency-@countryGroup.currency.toString.toLowerCase">
                <div class="feedback">

                    <div class="contributions__detail">
                        <div class="contributions__detail__para">

                            <h1>Help us to move these issues up the public agenda and challenge governments to do more</h1><br>

                            <p>Australia’s fragile environment is under attack. Environmental protections have been dramatically eroded and funding slashed. The threat to climate change so dominates debate that other pressing and immediate environmental dangers struggle for attention. Few Australians know that our country has one of the worst records for species loss, with even the koala threatened; that microplastic pollution is so prevalent it can be found in the sediments of our river estuaries and nearby ocean floors; or that land clearing rates are just as severe as the notorious deforestation of the Brazilian Amazon.</p>

                            <p>We are asking readers to financially support a new Guardian Australia series that will help ensure the full range of immediate environmental threats are exposed and investigated with rigour and depth. Our independent coverage will work to inform and engage the public and share information with you on how to take further action to protect <a href="https://www.theguardian.com/environment/series/our-wide-brown-land" target="_parent">“our wide brown land”</a>. Thanks to our readers, we’ve reached our original target to financially support the new Guardian Australia series investigating the full range of environmental threats. But there’s more work to do, so we’ve adjust our funding target to $100,000.</p>

                            <p>Over the next three months, with your support, we will be able to report on the animals at the very edge of extinction, the ecological fallout from invasive plant species, the looming fracking crisis, the threats to our oceans, and the plight of the Murray-Darling basin. Help us move these most important of issues up the public agenda, empower those already taking a stand, and challenge governments to do more.</p>

                        </div>
                    </div>

                    <hr />

                    <p>
                        If we hit our initial goal of $50,000, the Guardian will allocate this amount to its core operations which will help fund the completion of the ‘Our wide brown land’ series and our coverage of the Australian environment, including editing, reporting, graphics and new commissions. If we exceed our fundraising goal, the Guardian will allocate the additional funds towards its core operations that fund our in-depth environmental reporting on issues including climate change, conservation and environmental policy. If we fall short of the goal, the Guardian will allocate the funds for a scaled back project on the environment. Contributions will not be returned. Your contribution is also governed by our standard contribution terms and conditions, which are available <a href="https://www.theguardian.com/info/2016/apr/08/australia-contribution-terms-and-conditions">here</a>.
                    </p>

                    <p>
                        The ultimate owner of the Guardian is the Scott Trust Limited, whose role is to secure the editorial and financial independence of the Guardian in perpetuity. Reader contributions support the Guardian’s journalism.
                    </p>

                    <p>
                        Please note that the Guardian is not a charity, will not use your support for charitable programs, and your support of the Guardian’s journalism does not constitute a charitable donation. As far as the Guardian is aware, your contribution is not eligible to be treated as a charitable deduction for tax purposes in Australia or elsewhere.
                    </p>

                    <p>
                        If you have any questions about contributing to the Guardian, please email as at australia.membership&commat;theguardian.com
                    </p>
                </div>
            </div>
        </section>
    </div>
}
