@import com.gu.i18n.CountryGroup
@import views.support.PageInfo
@import views.support.CountryGroupImplicits._
@import abtests.Allocation

@(pageInfo: PageInfo = views.support.PageInfo(),
    countryGroup: CountryGroup,
    maxAmount: Option[Int] = None,
    mainScript: Option[String] = None,
    errorMessage:Option[String])(content: Html)

@main(pageInfo, Some(countryGroup), maxAmount, mainScript) {
    <div class='contributions--this-land-is-your-land'>
        <section class="contributions__banner">
            <div class='l-constrained'></div>
        </section>

        <main class="contributions__wrapper currency-@countryGroup.currency.toString.toLowerCase">

            @for(message <- errorMessage) {
                <div id="errorDialog" class="overlay">
                    <div>
                        <h1 class="errorHeader">We're sorry</h1>
                        <p class="errorMessage">@message</p>
                        <button class="action action--button contribute-navigation__next" id="errorDialogButton">OK</button>

                    </div>
                </div>
            }

            <section class="contributions__inner page-slice l-constrained flex-horizontal-from-tablet">
                <div class="contributions__inner-wrapper">
                    <hgroup class="contributions__heading">
                        <h1 class="contributions__heading--main">
                            <span>Support our reporting on</span> <br />
                            <span class="heading-line--indent-max">America's public lands</span>
                        </h1>

                        <h2 class="contributions__heading--sub">
                            <span>Make a contribution now</span> <br />
                            <span class="sub-heading-line--indent">and help us beat our goal</span>
                        </h2>
                    </hgroup>
                    <div class="contributions__detail">
                        <div class="contributions__detail__para">
                            <hr />
                            <p>
                                More than 640m acres of land owned by the American people – including national monuments and parks used for hiking, camping, skiing, fishing, hunting and much more – are in danger because of proposed rollbacks of environmental protections, and an initiative in Congress to transfer land away from the American public. The plans would give oil, gas and mining interests increased control of our shared resources - and threaten the $646bn outdoor recreation industry, including millions of American jobs.
                            </p> 

                            <p>
                                The Guardian is seeking contributions to support <a href='https://theguardian.com/environment/series/this-land-is-your-land'>This Land Is Your Land</a>, our series on the government’s giveaway of America’s public lands. Thanks to the generosity of our readers, we have hit our original $50,000 fundraising goal, but the campaign remains open and we welcome additional contributions. Your support will help fund the Guardian’s in-depth coverage of public lands and other critical environmental issues facing America. 
                            </p>

                            <p>
                                We’re also seeking larger contributions from companies, foundations and individuals to support the Guardian’s conservation and environment reporting. If you would like to get involved with this project or provide matching funds, please <a href="mailto:public.lands@@theguardian.com">contact us</a>.
                            </p>
                        </div>
                    </div>
                </div>

                @content
            </section>
        </main>

        <section id="ticker" data-src='https://interactive.guim.co.uk/docsdata-test/1no5r1O5A0omDkz4HALce4SrFWDGzSuR_jdB2MYOsPt4.json'></section>

        <section class="disclaimer">
            <div class="support-wrapper page-slice page-slice__feedback l-constrained currency-@countryGroup.currency.toString.toLowerCase">
                <div class="feedback">

                    <div class="contributions__detail">
                        <div class="contributions__detail__para">
                            <p>
                                More than 640m acres of land owned by the American people – including national monuments and parks used for hiking, camping, skiing, fishing, hunting and much more – are in danger because of proposed rollbacks of environmental protections and an initiative in Congress to transfer land away from the American public. The plans would give oil, gas and mining interests increased control of our shared resources - and threaten the $646bn outdoor recreation industry, including millions of American jobs.
                            </p> 

                            <p>
                                The Guardian aims to raise $50,000 to support <a href='https://theguardian.com/environment/series/this-land-is-your-land'>This Land Is Your Land</a>, our series on the government’s giveaway of America’s public lands. Your support will fund the Guardian’s in-depth coverage of this critical and little-covered  issue, and help us hold politicians to account. 
                            </p>

                            <p>
                                We’re also seeking larger contributions to support the Guardian’s conservation and  environment reporting from companies, foundations and individuals. If you would like to get involved with this project or provide matching funds, please <a href="mailto:public.lands@@theguardian.com">contact us</a>.
                            </p>
                        </div>
                    </div>

                    <hr />

                    <p>If we hit our goal, the Guardian will allocate $50,000 to its core operations that will fund our extended coverage of public lands, including editing, reporting, graphics and new commissions. If we exceed our fundraising target, the Guardian will allocate additional funds towards its core operations that fund our, in-depth environmental reporting on issues including climate change, conservation and environmental policy. If we fall short of the target, the Guardian will allocate funds for a scaled back project on public lands. Contributions will not be returned. You can read additional <a href="https://www.theguardian.com/info/2016/apr/07/us-contribution-terms-and-conditions">terms and conditions here</a>.</p>

                    <p>
                        The ultimate owner of the Guardian is the Scott Trust Limited, whose role it is to secure the editorial and financial independence of the Guardian in perpetuity. Reader contributions support the Guardian’s journalism.
                    </p>

                    <p data-shown="gbp aud eur">
                        Please note that your support of the Guardian’s journalism does not constitute a charitable donation. As such your contribution is not eligible for Gift Aid in the UK nor a tax-deduction elsewhere.
                    </p>

                    <p data-shown="usd">
                        Please note that the Guardian is not a charity, will not use your support for charitable
                        programs, and your support of the Guardian’s journalism does not constitute a
                        charitable donation. As such your contribution is not eligible to be treated as a
                        charitable deduction for federal or state taxes in the United States or elsewhere.
                    </p>

                    <p>
                        If you have any questions about contributing to the Guardian, please <a href="mailto:contribution.support@@theguardian.com" class="support-thanks__link">
                        contact us here</a>.
                    </p>
                </div>
            </div>
        </section>
    </div>
}
