@import com.gu.i18n.CountryGroup
@import views.support.PageInfo
@import views.support.CountryGroupImplicits._
@import abtests.Allocation

@(pageInfo: PageInfo = views.support.PageInfo(),
    countryGroup: CountryGroup,
    maxAmount: Option[Int] = None,
    mainScript: Option[String] = None,
    errorMessage:Option[String])(content: Html)

@main(pageInfo, Some(countryGroup), maxAmount, mainScript) {
    <div class="contributions--aus-campaign">
        <section class="contributions__banner">
            <div class="l-constrained"></div>
        </section>

        <main class="contributions__wrapper currency-@countryGroup.currency.toString.toLowerCase">

            @for(message <- errorMessage) {
                <div id="errorDialog" class="overlay">
                    <div>
                        <h1 class="errorHeader">We're sorry</h1>
                        <p class="errorMessage">@message</p>
                        <button class="action action--button contribute-navigation__next" id="errorDialogButton">OK</button>

                    </div>
                </div>
            }

            <section class="contributions__inner page-slice l-constrained flex-horizontal-from-tablet">
                <div class="contributions__inner-wrapper">
                    <hgroup class="contributions__heading">
                        <h1 class="contributions__heading--main">
                            <span>Support an in-depth series on</span> <br />
                            <span class="heading-line--indent-max">the environment</span>
                        </h1>

                        <h2 class="contributions__heading--sub">
                            <span>Make a contribution</span> <br />
                            <span class="sub-heading-line--indent">and help us raise $50,000</span>
                        </h2>
                    </hgroup>
                    <div class="contributions__detail">
                        <div class="contributions__detail__para">
                            <hr />

                            <p>If the fight to save the Franklin happened today, would the river be protected?</p>

                            <p>Bob Brown, who lead that campaign in the early 1980s, doubts it would be successful now, not least because the threat of climate change so dominates debate that other Australian environmental challenges struggle for attention.</p>

                            <p>How many Australians are aware that this is the second worst country in the world for species loss, with even the koala threatened; that microplastic pollution is so prevalent, it can be found in the sediments of river estuaries and ocean floors, or that the land clearing rates in Australia are comparable to those of the notorious deforestation of the Brazilian Amazon?</p>

                            <p>The fragile Australian environment is under attack from all sides, with funding slashed and environmental protections increasingly eroded.</p>

                            <p>Our new series [Our wide brown land] turns the spotlight on these issues. Over the next three months, we will investigate the species on the edge of extinction, the overwhelming problem of plastic pollution in this region, the government and industries insatiable land clearing rates, the threats to our oceans, and the plight of the Murray Darling basin. Our team of top environmental journalists including Michael Slezak, Adam Morton, Lisa Cox and Graham Readfearn will examine these threats and report back on what is at stake if nothing is done.</p>

                            <p>The Guardian Australia is well placed to do this because of our thorough and independent reporting in this area, but we need your help to do more. We are seeking contributions to support our extended coverage of these environmental issues. We need $50,000 to allow us to complete this series, so please click [click through to funding page] here to help us reach our goal. If you have questions, comments or story ideas for our <a href="https://www.theguardian.com/us-news/series/break-the-cycle">Our wide brown land</a> series, you can reach us via <a href="mailto:backfromthebrink@theguardian.com">email</a>.</p>
                        </div>
                    </div>
                </div>

                @content
            </section>
        </main>

        <section id="ticker" data-src='https://interactive.guim.co.uk/docsdata-test/1kxq0b0E4BfoYmevQuAoG-V6Bk6CEJsuVqwKHdosh66A.json'></section>

        <section class="disclaimer">
            <div class="support-wrapper page-slice page-slice__feedback l-constrained currency-@countryGroup.currency.toString.toLowerCase">
                <div class="feedback">

                    <div class="contributions__detail">
                        <div class="contributions__detail__para">

                            <p>If the fight to save the Franklin happened today, would the river be protected?</p>

                            <p>Bob Brown, who lead that campaign in the early 1980s, doubts it would be successful now, not least because the threat of climate change so dominates debate that other Australian environmental challenges struggle for attention.</p>

                            <p>How many Australians are aware that this is the second worst country in the world for species loss, with even the koala threatened; that microplastic pollution is so prevalent, it can be found in the sediments of river estuaries and ocean floors, or that the land clearing rates in Australia are comparable to those of the notorious deforestation of the Brazilian Amazon?</p>

                            <p>The fragile Australian environment is under attack from all sides, with funding slashed and environmental protections increasingly eroded.</p>
                            
                            <p>Our new series <a href="https://www.theguardian.com/us-news/series/break-the-cycle">Our wide brown land</a> turns the spotlight on these issues. Over the next three months, we will investigate the species on the edge of extinction, the overwhelming problem of plastic pollution in this region, the government and industries insatiable land clearing rates, the threats to our oceans, and the plight of the Murray Darling basin. Our team of top environmental journalists including Michael Slezak, Adam Morton, Lisa Cox and Graham Readfearn will examine these threats and report back on what is at stake if nothing is done.</p>

                            <p>The Guardian Australia is well placed to do this because of our thorough and independent reporting in this area, but we need your help to do more. We are seeking contributions to support our extended coverage of these environmental issues. We need $50,000 to allow us to complete this series, so please <a href="https://www.theguardian.com/us-news/series/break-the-cycle">click here</a> to help us reach our goal. If you have questions, comments or story ideas for our <a href="https://www.theguardian.com/us-news/series/break-the-cycle">Our wide brown land</a> series, you can reach us via <a href="mailto:backfromthebrink@theguardian.com">email</a>.</p>

                        </div>
                    </div>

                    <hr />

                    <p>
                        If we hit our goal, the Guardian will allocate $50,000 to its core operations that will fund our extended coverage of environmental issues in Australia, including editing, reporting, visuals and new commissions. If we exceed our fundraising target, the Guardian will allocate additional funds towards its core operations that fund our in-depth reporting on topics including national affairs, politics, criminal justice, and environmental issues. If we fall short of the target, the Guardian will allocate funds for a scaled back project on environmental issues. Contributions will not be returned. You can read additional <a href="https://www.theguardian.com/info/2016/apr/07/us-contribution-terms-and-conditions">terms and conditions here</a>.
                    </p>

                    <p>
                        The ultimate owner of the Guardian is the Scott Trust Limited, whose role it is to secure the editorial and financial independence of the Guardian in perpetuity. Reader contributions support the Guardian’s journalism.
                    </p>

                    <p data-shown="gbp aud eur">
                        Please note that the Guardian is not a charity, will not use your support for charitable programs, and your support of the Guardian’s journalism does not constitute a charitable donation. As such your contribution is not eligible to be treated as a charitable deduction for federal or state taxes in the United States or elsewhere.
                    </p>

                    <p data-shown="usd">
                        Please note that the Guardian is not a charity, will not use your support for charitable
                        programs, and your support of the Guardian’s journalism does not constitute a
                        charitable donation. As such your contribution is not eligible to be treated as a
                        charitable deduction for federal or state taxes in the United States or elsewhere.
                    </p>

                    <p>
                        If you have any questions about contributing to the Guardian, please <a href="mailto:contribution.support@@theguardian.com" class="support-thanks__link">contact us here</a>.
                    </p>
                </div>
            </div>
        </section>
    </div>
}
