@import com.gu.i18n.CountryGroup

@(countryGroup:CountryGroup, cmpCode: Option[String], intCmpCode: Option[String])
<form action="/paypal/auth" method="post" target="_top" id="paypalForm">
    <input type="hidden" name="amount" value="" id="paypalAmount">
    <input type="hidden" name="countryGroup" value="@countryGroup.id" id="paypalCountryGroup">
    <input type="hidden" name="cmp" value="@cmpCode.mkString">
    <input type="hidden" name="intcmp" value="@intCmpCode.mkString">
    <input type="hidden" name="ophanId" class="js-ophan-id">
</form>
