@(language:String, currency:String, defaultAmount:Int)
<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top" id="paypalForm">
    <input type="hidden" name="cmd" value="_donations">

    <!--TODO SET INITIAL VALUES FROM VARIANT/LOCALE-->
    <input type="hidden" name="lc" value="@language" id="paypalLanguage">
    <input type="hidden" name="amount" value="@defaultAmount" id="paypalAmount">
    <input type="hidden" name="currency_code" value="@currency.toString.toUpperCase" id="paypalCurrency">
    <!--TODO DO WE WANT CONTRIBUTORS TO BE ABLE TO WRITE A NOTE? -->
    <input type="hidden" name="no_note" value="1">
    <!--TODO REPLACE THESE WITH THE REAL VALUES!!-->
    <input type="hidden" name="item_name" value="Contribution to the Guardian">
    <input type="hidden" name="business" value="contributions@@gu.co.uk">
    <input type="hidden" value="http://www.google.com" name="return">
    <input type="hidden" value="http://www.yahoo.com" name="cancel_return">
    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

<!--<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">-->
    <!--<input type="hidden" name="cmd" value="_xclick">-->
    <!--&lt;!&ndash;contributions account&ndash;&gt;-->
    <!--<input type="hidden" name="business" value="ZNEXRQLD993XE">-->
    <!--&lt;!&ndash;OTHER ACCOUNT&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="hidden" name="business" value="patricio.vighi-facilitator@@guardian.co.uk">&ndash;&gt;-->
    <!--<input type="hidden" name="lc" value="@language" id="paypalLanguage">-->
    <!--<input type="hidden" name="amount" value="@defaultAmount" id="paypalAmount">-->
    <!--<input type="hidden" name="currency_code" value="@currency.toString.toUpperCase" id="paypalCurrency">-->
    <!--<input type="hidden" name="button_subtype" value="services">-->
    <!--<input type="hidden" name="no_note" value="1">-->
    <!--<input type="hidden" name="no_shipping" value="2">-->
    <!--<input type="hidden" name="rm" value="1">-->
    <!--<input type="hidden" name="bn" value="PP-BuyNowBF:btn_paynow_LG.gif:NonHosted">-->
    <!--<input type="image" src="https://www.sandbox.paypal.com/en_GB/i/btn/btn_paynow_LG.gif" border="0" name="submitBtn" alt="PayPal – The safer, easier way to pay online!">-->
    <!--<img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">-->
    <!--&lt;!&ndash;TODO REPLACE THESE WITH THE REAL VALUES!!&ndash;&gt;-->
    <!--<input type="hidden" name="item_name" value="Contribution">-->
    <!--<input type="hidden" name="return" value="http://www.yahoo.com">-->
    <!--<input type="hidden" name="cancel_return" value="http://www.yahoo.com">-->

<!--</form>-->


