
@(language:String, currency:String, defaultAmount:Int, transactionId:String)
<!--<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top" id="paypalForm">-->
    <!--<input type="hidden" name="cmd" value="_donations">-->
    <!--&lt;!&ndash;<input type="hidden" name="cmd" value="_xclick">&ndash;&gt;-->

    <!--<input type="hidden" name="lc" value="@language" id="paypalLanguage">-->
    <!--<input type="hidden" name="amount" value="@defaultAmount" id="paypalAmount">-->
    <!--<input type="hidden" name="currency_code" value="@currency.toString.toUpperCase" id="paypalCurrency">-->
    <!--&lt;!&ndash;TODO DO WE WANT CONTRIBUTORS TO BE ABLE TO WRITE A NOTE? &ndash;&gt;-->
    <!--<input type="hidden" name="no_note" value="1">-->
    <!--&lt;!&ndash;TODO REPLACE THESE WITH THE REAL VALUES!!&ndash;&gt;-->
    <!--<input type="hidden" name="item_name" value="Contribution to the Guardian">-->
    <!--&lt;!&ndash;TODO check if we can that id instead of making the email public&ndash;&gt;-->
    <!--<input type="hidden" name="business" value="gu-contributions@@gu.co.uk">-->
  <!--&lt;!&ndash;TODO get the correct thank you page&ndash;&gt;-->
    <!--<input type="hidden" value="https://6ef12c2b.ngrok.io/uk/thank-you" name="return">-->
    <!--<input type="hidden" value="http://www.yahoo.com" name="cancel_return">-->
    <!--<input type="hidden" name="custom" value="@transactionId">-->
<!--</form>-->

<form action="/paypal/auth" method="post" target="_top" id="paypalForm">
    <input type="hidden" name="amount" value="@defaultAmount" id="paypalAmount">
    <input type="hidden" name="currency_code" value="@currency.toString.toUpperCase" id="paypalCurrency">
    <input type="hidden" name="transactionId" value="@transactionId">
</form>
