@import 'vars';
@import 'functions';
@import 'mixins';
@import 'utilities/util-layout';
@import 'svg';

$control-spacing: 5px;

.container-global--giraffe {
    display: flex;
    flex-direction: column;
}

.giraffe-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.legal_notice {
    padding-top: 15px;

    p {
        margin-bottom: 5px;
    }
}

.postPaymentConfirmation {
    height: 134px;
}

.postPaymentContact {
    height: 287px;
    display: flex;
    flex-direction: column;

    form {
        height: 177px;
        display: flex;
        flex-direction: column;
    }
    button {
        width: 100%;
        margin-top: auto;
        margin-bottom: 12px;
    }
}

.postPaymentText {
    @include fs-textSans(2);
}

.circleBackground {
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 1000px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    margin-bottom: 12px;

}

.postPaymentTick {
    background-image: url('/assets/images/inline-svgs/tick.svg');
}

.postPaymentEnvelope {
    background-image: url('/assets/images/inline-svgs/share-email.svg');
}

.overlay {
    position: fixed;
    display: flex;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: left;

}

.overlay div {
    width: 300px;
    margin: 0 auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 1px solid #000;
    padding: 20px;
    background: #ffbb00;
    color: #333;
}

.errorHeader {
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    font-family: "Guardian Egyptian Web";
}

.errorMessage {
    margin-top: 10px;
    font-size: 14px;
    line-height: 18px;
    font-family: "Guardian Text Sans Web";
}

.overlay button {
    height: 36px;
    width: 60px;
    text-align: center;
}

.show-mobile {
    display: none;
    @include mq($until: tablet) {
        display: block;
    }
}

.paypal__button {
    margin-top: 10px;
    background-repeat: no-repeat;
    width: 100%;
    background-color: $palBlue;
    background-size: 93px;
    background-image: url('/assets/images/form/ppcom-white.svg');
    background-position: left 130px center;

    &:hover, &:focus {
        background-color: darken($palBlue, 5%);
    }
}

.contributions__banner {
    background-image: url('/assets/images/this-land-is-your-land.jpg');
    background-size: cover;
    background-position: center 22%;
    height: 300px;
    overflow: hidden;

    .l-constrained {
        position: relative;
    }

    .l-constrained:before,
    .l-constrained:after {
        content: '';
        position: absolute;
        width: 50vw;
        top: 0;
        height: 300px;
        background-color: rgba(0,0,0,0.1);
    }

    .l-constrained:before {
        left: -50vw;
    }

    .l-constrained:after {
        right: -50vw;
    }
}

.contribute_card__button {
    @include mq($until: tablet) {
        margin-top: 24px;
    }
    width: 100%;
}

.contributions__wrapper {
    background: $dark-yellow;
}

.contributions__inner {
    background: $medium-yellow;

    @include mq(tablet) {
        padding-top: 50px;
    }
}

.contributions__inner-wrapper {
    margin-right: auto;
}

.contributions__inner,
.feedback {
    padding: 0 $mobile-gutter $gs-baseline;

    @include mq(tablet) {
        padding-left: $tablet-gutter;
        padding-right: $tablet-gutter;
    }

    @include mq(mem-full) {
        padding-left: $mem-full-gutter;
        padding-right: $mem-full-gutter;
    }
}

.contributions__detail {
    display: flex;
    flex-direction: column;

    @include mq(desktop) {
        flex-direction: row;
    }

    hr {
        @include black-line(80px);
    }
}

.contributions__detail__para {
    font-family: $f-serif-headline;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: $gs-baseline;

    &:last-of-type {
        margin-bottom: $gs-baseline * 3;
    }

    @include mq($until: tablet) {
        strong {
            font-weight: normal;
        }

        span {
            display: none;
        }
    }

    @include mq(tablet) {
        font-size: 18px;
        line-height: 22px;
    }

    @include mq(desktop) {
        width: 300px;

        &:first-of-type {
            margin-right: $gs-gutter;
            margin-bottom: 0;
        }
    }
}

.contribute-container {
    position: relative;

    @include mq(tablet) {
        margin-top: 40px;
        width: 300px;
        min-width: 300px;
    }
}

.contribute-section {
    padding: 10px;
    margin-bottom: 2px;
    background: $light-yellow;
}

.contribution-heading {
    @include fs-headline(2);
    margin-left: 5px;
    margin-bottom: 5px;
}

.opacity-wrapper, .option-button__recurring {
    transition: opacity 200ms linear;
}

.opaque .opacity-wrapper,
.option-button__recurring.opaque {
    opacity: 0.25;
}

.contribute-form__inner {
    width: 100%;
    margin-bottom: auto;

    @include mq(tablet) {
        min-height: 360px;
    }
}

.contribute-navigation {
    margin-top: auto;
    overflow: hidden;

    &.details {
        .spinner-outer {
            display: none;
        }
    }
}

.contribute-form__heading {
    @include clearfix();
    width: 100%;
    height: 60px;
}

.contribute-form__title-outer {
    float: left;
}

.contribute-form__title {
    @include fs-headline(3);
    color: color(neutral-1);
    font-weight: 900;
}

.contribute-form__progress {
    @include mq($until: tablet) {
        display: none;
    }

    float: right;

    > span {
        &:after {
            $dot-size: 8px;

            content: '';
            display: inline-block;
            height: $dot-size;
            width: $dot-size;
            border-radius: $dot-size;
            margin-left: $dot-size;
            margin-right: $dot-size;
            background: white;
        }

        &.active:after {
            background: color(neutral-1);
        }
    }
}

.contribute-controls {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$control-spacing/2;
    margin-right: -$control-spacing/2;
    margin-top: auto;
}

.contribute-controls-title {
    flex: 0 0 100%;
    font-size: 16px;
    font-weight: normal;
    font-family: $f-serif-headline;
    margin-bottom: 6px;
}

.contribute-controls--recurring {
    margin-top: 0;
}

.contribute-controls__input {
    height: 36px;
}

.contribute-controls__input--amount {
    background: white;
    margin: 0px $control-spacing/2 7px;

    input {
        padding: 0 4px;
        border: 0;
        height: 36px;
        width: 95%;
        text-align: center;

        &:active, &:focus {
            outline: 0;
        }
    }

    .contribute-controls__small-input {
        width: 90%;
        text-align: left;
    }

    .symbol {
        color: color(neutral-3);

        &.small {
            color: color(neutral-1);
            font-weight: bold;
        }

        &.active {
            color: color(neutral-1);
        }
    }
}

.contribute-controls__button {
    flex-grow: 1;
    margin-bottom: 7px;
    height: 36px;
}

.contribute-controls__input {
    width: 100%;
    display: block;
}

.contribute-controls__input-small {
    flex-basis: 48%;
}


.contribute-navigation__button {
    float: right;
}

.contribute-navigation__next {

    background-color: $blue;

    &:hover, &:focus {
        background-color: darken($blue, 5%);
    }
}

.option-button,
.option-button-group {
    margin: 0px $control-spacing/2 7px;
}

.opaque .opacity-wrapper *:hover,
.opaque .opacity-wrapper *:focus {
    cursor: default;
}

.option-button {
    @include button();
    text-align: center;

    .opaque .opacity-wrapper &:hover:not(.active),
    .opaque .opacity-wrapper &:focus:not(.active) {
        background: white;
        color: $c-neutral1;
    }
}

.option-button-group {
    @include button-group();
}

.option-button--bold {
    font-weight: bold;
}

.option-button__recurring {
    flex: 1;
}

.with-card-icon {
    position: relative;
}

.payment-error {
    @include fs-textSans(3);
    color: $c-error;
}

[data-shown] {
    display: none !important;
}

.amount-summary {
    position: absolute;
    right: 0;
    top: -32px;

    text-align: right;
    margin-bottom: $gs-baseline;
    visibility: hidden;
    display: block;

    &.visible {
        visibility: visible;
    }
}

.amount-summary__text,
.amount-summary__amount {
    @include fs-textSans(2);
}

.amount-summary__text {
    margin-right: $gs-gutter / 3;
}

.amount-summary__amount {
    color: white;
    text-align: center;
    background: color(neutral-1);
    padding: 6px 12px;
    border-radius: 20px;
}

$currencies: gbp usd aud eur nzd cad;
@each $currency in $currencies {
    .currency-#{$currency} {
        [data-shown*=#{$currency}] {
            display: block !important;
        }
    }
}

.hidden-desktop {
    @include mq(tablet) {
        display: none;
    }
}

.contribute-navigation--contribution,
.contribute-navigation--details {
    .action--pay {
        display: none;
    }
}

.contribute-payment {
    .fieldset__note {
        margin-top: 2rem;
    }
}

.ticker {
    background-color: darken($c-neutral1, 5%);
    color: white;
}

.ticker__wrapper {
    background-color: $c-neutral1;
    padding: 10px;

    @include mq(mobileLandscape) {
        padding: 8px 20px;
    }
}

.ticker__count {
    color: $medium-yellow;
    font-family: "Guardian Egyptian Web",Georgia,serif;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 900;
}

.ticker__label {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.ticker__progress {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 560px;
    height: 12px;
    margin: 4px 0;
    border-radius: 12px;
    background-color: lighten($c-neutral1, 5%);
}

.ticker__filled-progress {
    background-color: $medium-yellow;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: transform 3s cubic-bezier(.25,.55,.2,.85);
    transform: translateX(-100%);
}

.ticker__progress-labels {
    position: relative;
    width: 100%;
    height: 16px;
    max-width: 560px;
}

.ticker__progress-label {
    font-family: 'Guardian Text Sans Web';
    font-size: 14px;
    color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 0px;
}

.ticker__progress-label--target {
    transform: translateX(-50%);
}

.ticker__progress-label--target:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 14px;
    top: -17px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.9);
}

.ticker__progress-label--last {
    right: 0;
}

.disclaimer {
    background: #E7E7E7;
    flex: 1 1 auto;
    display: flex;

    .l-constrained {
        padding-top: $gs-baseline;
        padding-bottom: $gs-baseline;

        @include mq(desktop) {
            padding-top: $gs-baseline * 2;
        }

        @include mq($until: tablet) {
            width: 100%;
        }

        @include mq(tablet) {
            flex-direction: row;
        }
    }
}

.recurring-payment {
    width: 100%;
    margin-bottom: $gs-baseline;
}

.opacity-wrapper--contribute-controls {
    display: flex;
    flex-wrap: wrap;
}

.feedback {
    @include fs-textSans(3);

    $tablet-col-padding-left: $gs-gutter/2;
    $tablet-col-padding-right: ($gs-gutter/2) + 1;

    background: white;
    color: $c-neutral1;

    h2 {
        @include fs-header(2)
    }
}

:invalid {
    box-shadow: none;
    outline: 0;
}

.contributions__landing {
    margin-top: 40px;
    max-width: 612px;

    @include mq(tablet) {
        margin-right: 40px;
    }

    .contributions__intro--landing {
        @include fs-header(4);
        margin-bottom: 20px;
    }

    p {
        @include fs-bodyCopy(2);
    }

    hr {
        @include black-line(140px);
    }
}

.contributions__heading--landing {
    font-size: 24px;
    line-height: 28px;

    @include mq(tablet) {
        font-size: 36px;
        line-height: 36px;
    }
}

.contributions__heading--landing--location {
    font-size: 22px;
    line-height: 26px;
    font-family: "Guardian Egyptian Web",Georgia,serif;
    font-weight: 900;

    @include mq(tablet) {
        font-size: 32px;
        line-height: 32px;
    }
    color:white;
}

.contributions__heading--main.contributions__heading--landing {
    margin-top: 20px;

    @include mq(tablet) {
        margin-top: 40px;
    }
}

.contributions__heading--sub.contributions__heading--landing {
    margin-bottom: 20px;

    margin-left: 40px;

    @include mq(tablet) {
        margin-left: 80px;
    }
}

.contributions__landing-headers {
    margin-right: 10px;
}

.contributions__name__location--slash{
    color: white;
}

.contributions--this-land-is-your-land {
    .contributions__wrapper {
        .contributions__inner {
            overflow: visible;
            position: relative;
            padding: 0 10px 20px;

            @include mq(mobileLandscape) {
                padding: 0 20px 20px;
            }

            @include mq(desktop) {
                padding-bottom: 0;
            }
        }

        .contribute-container {
            @include mq(desktop) {
                position: absolute;
                top: -92px;
                right: 20px;
            }
        }

        .contributions__heading {
            margin-top: 0;
            padding-top: 12px;
        }

        .heading-line--indent-max {
            @include mq(desktop) {
                padding-left: 140px;
            }
        }

        .contributions__detail {
            @include mq(desktop) {
                display: none;
            }

            .contributions__detail__para {
                a {
                    color: white;
                    border-bottom-color: white;
                }
            }
        }
    }

    .disclaimer {
        .l-constrained {
            padding-top: 12px;
        }

        .feedback {
            padding: 0 20px;
        }

        .contributions__detail__para {
            display: none;

            @include mq(desktop) {
                display: block;
            }

            a {
                color: $medium-yellow;
                border-bottom-color: $medium-yellow;

                &:hover {
                    border-bottom-color: $c-neutral1;
                }
            }
        }

        hr {
            width: 120px;
            border: 0;
            height: 1px;
            background-color: $c-neutral1;
            margin: 22px 0 4px;

            @include mq($until: desktop) {
                display: none;
            }
        }

        .feedback > p {
            max-width: 620px;
            color: $c-neutral2;

            a {
                color: $medium-yellow;
                border-bottom-color: $medium-yellow;

                &:hover {
                    border-bottom-color: $c-neutral1;
                }
            }
        }
    }

    .contributions__detail__para {
        font-family: 'Guardian Text Egyptian Web', Georgia, serif;
        max-width: 620px;
        width: 100%;
        padding-right: 60px;
        font-size: 16px;
        line-height: 1.5rem;
    }
}