@import 'vars';
@import 'functions';
@import 'mixins';

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.contribute-container {
    background-color: #ffd359;
    padding: 10px;

    @include mq(tablet) {
        width: 300px;
    }
}

.contribute-form__inner {
    margin-bottom: auto;

    @include mq(tablet) {
        height: 305px;
        display: none;

        &.current {
            display: flex;
        }
    }
}

.contribute-navigation {
    margin-top: auto;
}

.contribute-form__heading {
    @include clearfix();
    width: 100%;
    height: 60px;
}

.contribute-form__title-outer {
    float: left;
}

.contribute-form__title {
    @include fs-headline(3);
    color: color(neutral-1);
    font-weight: 900;
}

.contribute-form__progress {
    float: right;

    > span {
        &:after {
            $dot-size: 8px;

            content: '';
            display: inline-block;
            height: $dot-size;
            width: $dot-size;
            border-radius: $dot-size;
            margin-left: $dot-size;
            margin-right: $dot-size;
            background: white;
        }

        &.active:after {
            background: color(neutral-1);
        }
    }
}

.contribute-controls {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
}

.contribute-controls__input {
    line-height: 36px;
}

.contribute-controls__input--amount {
    background: white;

    input {
        padding: 0 4px;
        border: 0;
        line-height: 36px;
        width: 95%;
        text-align: center;

        &:active, &:focus {
            outline: 0;
        }
    }

    .symbol {
        color: color(neutral-3);

        &.active {
            color: color(neutral-1);
        }
    }
}

.contribute-controls__button {
    flex: 1;
    margin-bottom: 7px;
    height: 36px;
}

.contribute-controls__input {
    width: 100%;
}

.contribute-navigation__back {
    @include font-smoothing();
    @include fs-textSans(4);
    float: left;
    line-height: 42px;
}

.contribute-navigation__next {
    float: right;
}

.option-button {
    @include button();
    text-align: center;
    margin-right: 5px;

    &:last-of-type {
        margin-right: 0;
    }
}

.option-button--bold {
    font-weight: bold;
}
