@import 'vars';
@import 'functions';
@import 'mixins';

/**
    Breakpoints:

    - mobileLandscape:  @media all and (min-width: 30em) {}
    - tablet:           @media all and (min-width: 46.25em) {}
    - desktop:          @media all and (min-width: 61.25em) {}
    - wide:             @media all and (min-width: 81.25em) {}
*/

// UNKNOW?
.support-wrapper {
    padding-left: $gs-gutter / 2;
    padding-right: $gs-gutter / 2;

    @include mq(tablet) {
        padding-left: 0;
        padding-right: 0;
    }
}

.support-wrapper .form__column-heading {
    @include fs-headline(3);
    color: color(neutral-1);
    font-weight: 900;
}

.support-wrapper .form__column-heading--first {
    border: none;
}

.support-wrapper .form__column-heading .num {
    @include fs-headline(9);
    font-size: 48px;
    font-weight: 500;
    color: $light-yellow;
}

.support-wrapper__title {
    color: #0a4682;
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 28px;
    line-height: 2.8rem;
}

/* desktop */

$tablet-col-padding-left: $gs-gutter/2;
$tablet-col-padding-right: ($gs-gutter/2) + 1;
@include mq(tablet) {
    .form__container {
        position: relative;
    }
    .js-hidden-tablet {
        display: none !important;
    }
    .form__switcher {
        position: absolute;
        right: 0;
        margin: 6px;
        a {
            display: inline-block;
            height: 6px;
            width: 6px;
            border-radius: 6px;
            margin-left: 6px;
            margin-right: 6px;
            background: $white;

        }
        a.form__container--active {
            background: $c-neutral1;
        }

    }
    .support-wrapper .form__column {
        padding-left: $tablet-col-padding-left;
        padding-right: $tablet-col-padding-right;
        width: 300px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .support-wrapper .form__column:first-child {
        padding-left: 0;
        border: none;
    }

    .support-wrapper .form__column:last-child {
        padding-right: 0;
    }

    .support-wrapper .form__column-heading {
        border: none;
    }

}

$desktop-form-width: 936px;
$desktop-col-padding-left: 15px;
$desktop-col-padding-right: 16px;
@include mq(desktop) {
    .support-wrapper .form__column {
        padding-left: $desktop-col-padding-left;
        padding-right: $desktop-col-padding-right;
    }

}

/** Fonts */

.headline-text--light {
    font-family: "Guardian Egyptian Web", georgia, serif;
    font-weight: 200;
}

.headline-text--bolder {
    font-family: "Guardian Egyptian Web", georgia, serif;
    font-weight: 900;
}

//
// New stuff
//
.action--advance {
    display: none;
    @include mq(tablet) {
        display: block;
    }
}

.action--button {
    border: none;
    line-height: 30px;

    &:after {
        content: '';

        display: inline-block;
        background-repeat: no-repeat;
        width: 30px;
        height: 28px;
        background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36"><path fill="white" stroke="white" d="M22.8 14.6L15.2 7l-.7.7 5.5 6.6H6v1.5h14l-5.5 6.6.7.7 7.6-7.6v-.9"/></svg>');
        background-size: 100%;
        float: right;
    }
}

.giraffe-container {
    .security-note {
        margin-bottom: 2px;
        @include mq($until: tablet) {
            float: right;
            margin-top: - ($gs-baseline + 5px);
        }
    }
    .form__column {
        background-color: #ffd359;
        padding: 10px;
        margin-top: 2px;
    }
    .page-slice {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        background-color: $light-yellow;
    }
    .page-slice__feedback {
        padding-top: $gs-baseline;
        background: white;
    }
    .l-constrained {
        padding-top: 0;
        padding-bottom: $gs-baseline;
        @include mq(tablet) {
            padding-top: $gs-baseline * 4;
        }

        @include mq($until: tablet) {
            width: 100%;
        }
        @include mq(tablet) {
            flex-direction: row;
        }
    }
    .support-wrapper__outer__a {
        background: #E6A226;
        .support-wrapper {
            background: $light-yellow;
        }
    }
    .support-wrapper__outer__b {
        background: #E7E7E7;
    }

    #card_expiry_field,
    #card_cvc_field {
        display: inline-block;
        vertical-align: top;
        width: 49%;
    }

    .sprite-card {
        margin-right: 17px;
    }

    #other_amount_field {
        padding-top: $gs-baseline;
        display: table;
        width: 100%;
        div, input {
            display: table-cell;
            text-align: center;

        }
    }

    .other_amount_currency {
        vertical-align: middle;
        float: left;
        position: relative;
        margin-top: -30px;
        margin-left: $gs-gutter / 2;
    }

    .giraffe__heading {
        @include mq(desktop) {
            width: 300px * 2 + $gs-gutter;
        }
    }

    .feedback {

        @include fs-textSans(2);

        @include mq(tablet) {
            width: $tablet-form-width;

        }

        @include mq(desktop) {
            width: 100%;
            display: flex;
            flex-direction: row;
            justifqy-content: space-around;
            p {
                display: block;
                padding-left: $tablet-col-padding-left;
                padding-right: $tablet-col-padding-right;
                width: 300px;
                height: 400px;
            }
        }

    }
}

// CSS to show/hide regional specific stuff

