


.contribute-form {
    background-color: #ffd359;
    padding: 10px;
    width: 300px;
    input:valid{
        color: pink;
    }
    input:invalid{
        color: red;
        text-decoration: line-through;
    }
}

.contribute-form__heading {
    @include clearfix()
}

.contribute-form__title {
    @include fs-headline(3);
    color: color(neutral-1);
    font-weight: 900;
    float: left;
}

.contribute-form__progress {
    float: right;

    > span {
        &:after {
            $dot-size: 8px;

            content: '';
            display: inline-block;
            height: $dot-size;
            width: $dot-size;
            border-radius: $dot-size;
            margin-left: $dot-size;
            margin-right: $dot-size;
            background: $c-neutral2;
        }

        &.active:after {
            background: white;
        }
    }
}

