
.thanks {
    &.giraffe__inner {
        padding-top: $gs-baseline;
    }

    @include mq(desktop) {

        section {
            width: 650px;
        }
        padding-left: $gs-gutter * 3;
    }
    .thanks--description {
        color: $c-neutral1;
        font-weight: normal;

    }
    h1 {
        &:first-of-type {
            padding-top: 1.5em;
        }
        &:last-of-type {
            padding-bottom: 1.5em;
        }
        padding-bottom: $gs-baseline;

        color: white;
        font-family: $f-serif-headline;
        font-weight: 900;

        font-size: 40px;
        line-height: 40px;

    }

}

.thanks__list {
    margin-top: -1em;
}

.thanks--social {
    margin-bottom: 50px;
    h2 {
        color: #c05303;
        font-family: $f-sans-serif-headline;
        @include fs-header(5);
    }
    p {
        color: $c-neutral1;
        @include f-bodyCopy;
        @include fs-header(5, true);
    }
}
