.thanks--feedback {
    display: flex;
    flex-direction: column;
    padding-left: $gs-gutter;
    padding-right: $gs-gutter;

    @include mq(desktop) {
        flex-direction: row;
        padding-left: $gs-gutter * 2.5;
        padding-right: $gs-gutter * 2.5;
    }
}

.thanks {
    &.contributions__inner {
        padding-top: $gs-baseline;
    }

    @include mq(desktop) {

        section {
            width: 660px;
        }
        padding-left: $gs-gutter * 2.5;
    }

    .thanks--description {
        color: $c-neutral1;
        font-weight: normal;
        display:block;

    }
    h1 {
        &:first-of-type {
            padding-top: 1em;
        }
        &:last-of-type {
            padding-bottom: 1em;
        }
        padding-bottom: $gs-baseline;

        color: #fff;

        @include f-header;
        @include font-size(24);

        @include mq(tablet) {
            @include font-size(36);
        }
        @include mq(desktop) {
            @include font-size(44);
        }

    }

}

.thanks__list {
    margin-top: -1em;
}

.thanks--survey {
    margin-bottom: 50px;
    flex-grow:2;

    @include mq(desktop) {
        padding-right: $gs-gutter * 5;
    }

    h2 {
        color: #c05303;
        @include fs-header(5);
    }
    p {
        color: $c-neutral1;
        @include f-bodyCopy;
        @include font-size(24);
    }

    .action--button_survey {
        background-color: #fff;
        color: #000;
        border-color: $c-neutral4;
        height: 36px;
        font-weight: normal;

        span {
            padding-right:10px;
        }

        &:hover, &:focus {
            border-color: $c-neutral1;
        }
    }

}
