@font-face {
  font-family: 'GHGuardianHeadline-Bold';
  src: url('https://interactive.guim.co.uk/embed/2018/manus/fonts/GHGuardianHeadline-Bold.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GHGuardianHeadline-Bold';
  src:  url('https://interactive.guim.co.uk/embed/2018/manus/fonts/GHGuardianHeadline-Bold.otf')  format('opentype'),
  url('https://interactive.guim.co.uk/embed/2018/manus/fonts/GHGuardianHeadline-Bold.ttf')  format('truetype'), 
  url('https://interactive.guim.co.uk/embed/2018/manus/fonts/GHGuardianHeadline-Bold.svg#GHGuardianHeadline-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}