@import views.support.Asset
@import views.support.PageInfo

@(pageInfo: PageInfo, mainScript: Option[String])

<script>
    var curl = {
        apiName: 'curl',
        paths: {
            stripe: 'https://js.stripe.com/v2/stripe-dss3',
        }
    };
</script>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script src='@Asset.at("javascripts/lib/curl/curl.js")'></script>

@if(mainScript.isDefined) {
<script>
    (function (isModern) {
        if (isModern) {
            // only load JS if the browser cuts the mustard
            var newElm = document.createElement('script');
            newElm.src = '@Asset.at(s"javascripts/${mainScript.get}")';
            document.getElementsByTagName("head")[0].appendChild(newElm);
        }
    })(guardian.isModernBrowser);
</script>
}


<noscript><img src="//bat.bing.com/action/0?ti=5039324&Ver=2" height="0" width="0" style="display: none; visibility: hidden;" /></noscript>

