@import abtests._
@import com.gu.i18n.CountryGroup
@import fragments.giraffe.{contributionsMain, contributionsAlt, contributionsUSGunCampaign, contributionsMotherLoadCampaign}
@import play.api.libs.json.Json
@import utils.ThriftEnumFormatter.ops._
@import utils.ThriftUtils.Implicits._
@import views.support.CountryGroupImplicits._
@import views.support.PageInfo
@import ophan.thrift.componentEvent.ComponentType
@import ophan.thrift.event.AcquisitionSource
@import ophan.thrift.event.AbTest

@(
    pageInfo: PageInfo,
    maxAmount: Int,
    countryGroup: CountryGroup,
    testAllocations: Set[Allocation],
    cmpCode: Option[String],
    intCmpCode: Option[String],
    refererPageviewId: Option[String],
    refererUrl: Option[String],
    creditCardExpiryYears: List[Int],
    errorMessage: Option[String],
    csrfToken: Option[String],
    inLandingPageTest: Boolean,
    disableStripe: Boolean,
    componentId: Option[String],
    componentType: Option[ComponentType],
    source: Option[AcquisitionSource],
    abTest: Option[AbTest]
)

@defining { (block: Html) =>
    @if(intCmpCode.contains("us_gun_campaign_2017")) {
        @contributionsUSGunCampaign(pageInfo, countryGroup, Some(maxAmount), Some("contributePage.js"), errorMessage)(block)
    } else {
        @if(intCmpCode.contains("us_mother_load_campaign_2017")) {
            @contributionsMotherLoadCampaign(pageInfo, countryGroup, Some(maxAmount), Some("contributePage.js"), errorMessage)(block)
        } else {
            @if(inLandingPageTest) {
                @contributionsAlt(pageInfo, countryGroup, Some(maxAmount), Some("contributePage.js"), errorMessage)(block)
            } else {
                @contributionsMain(pageInfo, countryGroup, Some(maxAmount), Some("contributePage.js"), errorMessage)(block)
            }
        }
    }
} { template =>
    @template {
        <!-- react injects its components here -->
        <section id="contribute" class="contribute-container"
        data-ab-tests="@Json.toJson(testAllocations)"
        data-country-group="@Json.stringify(Json.toJson(countryGroup))"
        data-max-amount="@maxAmount"
        data-csrf-token="@csrfToken.getOrElse("")"
            @for(code <- cmpCode) {
                data-cmp-code="@code"
            }
            @for(code <- intCmpCode) {
                data-int-cmp-code="@code"
            }
            @for(refId <- refererPageviewId) {
                data-referrer-pageview-id="@refId"
            }
            @for(refUrl <- refererUrl) {
                data-referrer-url="@refUrl"
                }
        data-disable-stripe="@disableStripe"

            @for(value <- componentId) {
                data-component-id="@value"
            }

            @for(value <- componentType) {
                data-component-type="@value.encode"
            }

            @for(value <- source) {
                data-source="@value.encode"
            }

            @for(value <- abTest) {
                data-referrer-ab-test="@Json.toJson(value)"
            }
        >
        </section>

    }
}
