@import com.gu.i18n.CountryGroup
@import views.support.ChosenVariants
@import views.support.PageInfo
@import views.support.Asset

@(pageInfo: PageInfo, maxAmount: Option[Int], countryGroup: CountryGroup, isUAT: Boolean, chosenVariants: ChosenVariants, cmpCode: Option[String], intCmpCode: Option[String])

@main(pageInfo, Some(countryGroup)) {
    <div class="support-wrapper__outer__a">
        <div class="support-wrapper page-slice l-constrained currency-@countryGroup.currency.toString.toLowerCase">
            <div class="giraffe__heading">
                <h1 class="giraffe__heading--main">Thank you</h1>
                <h2 class="giraffe__heading--sub">
                    <span class="giraffe__heading--sub--jaunty">
                        for supporting </span><span class="giraffe__heading--sub--jaunty">
                    the Guardian</span> <span class="giraffe__heading--sub--jaunty">
                    and independent</span> <span class="giraffe__heading--sub--jaunty">
                    journalism</span></h2>
            </div>
            <div>
                    <!--
            this is a blank div to make the flex box work  ¯\_(ツ)_/¯
            -->
            </div>

            <!-- react injects its components here -->
            <section id="contribute" class="contribute-form"></section>
        </div>
    </div>
    <div class="support-wrapper__outer__b">
        <div class="support-wrapper page-slice page-slice__feedback l-constrained currency-@countryGroup.currency.toString.toLowerCase">
            <div class="feedback">

                <p data-shown="gbp eur">If you have any questions about contributing to the Guardian, please
                    <a href="mailto:contribution.support@@theguardian.com" class="support-thanks__link">
                        contact us here</a>.
                </p>
                <p data-shown="gbp eur">
                    The ultimate owner of the Guardian is The Scott Trust Limited, whose role it is to secure the editorial and financial independence of the Guardian in perpetuity. Reader contributions support the Guardian’s journalism.
                </p>


                <p data-shown="aud">If you have any questions about contributing to the Guardian, please
                    <a href="mailto:contribution.support@@theguardian.com" class="support-thanks__link">
                        contact us here</a>.
                </p>
                <p data-shown="aud">
                    The ultimate owner of the Guardian is The Scott Trust Limited, whose role it is to secure the editorial and financial independence of the Guardian in perpetuity. Reader contributions support the Guardian’s journalism.
                </p>
                <p data-shown="usd">If you have any questions about contributing to the Guardian, please
                    <a href="mailto:contribution.support@@theguardian.com" class="support-thanks__link">
                        contact us here</a>.
                </p>
                <p data-shown="usd">
                    The ultimate owner of the Guardian is The Scott Trust Limited, whose role it is to secure the editorial and financial independence of the Guardian in perpetuity. Reader contributions support the Guardian’s journalism.
                </p>
                <p data-shown="gbp aud eur">
                    Please note that your support of the Guardian’s journalism does not constitute a charitable donation, as such your contribution is not eligible for Gift Aid in the UK nor a tax-deduction elsewhere.
                </p>
                <p data-shown="usd">
                    Please note that the Guardian is not a charity, will not use your support for charitable
                    programs, and your support of the Guardian’s journalism does not constitute a
                    charitable donation. As such your contribution is not eligible to be treated as a
                    charitable deduction for federal or state taxes in the United States or elsewhere.
                </p>
            </div>
        </div>
    </div>
}
