@import abtests._
@import com.gu.i18n.CountryGroup
@import fragments.giraffe.{contributionsMain, contributionsAlt, contributionsThisLandIsYourLand}
@import play.api.libs.json.Json
@import views.support.CountryGroupImplicits._
@import views.support.PageInfo

@(
    pageInfo: PageInfo,
    maxAmount: Int,
    countryGroup: CountryGroup,
    testAllocations: Set[Allocation],
    cmpCode: Option[String],
    intCmpCode: Option[String],
    refererPageviewId: Option[String],
    refererUrl: Option[String],
    creditCardExpiryYears: List[Int],
    errorMessage: Option[String],
    csrfToken: Option[String],
    inLandingPageTest: Boolean
)

@defining { (block: Html) =>
    @if(inLandingPageTest) {
        @contributionsAlt(pageInfo, countryGroup, Some(maxAmount), Some("contributePage.js"), errorMessage)(block)
    } else {
        @if(intCmpCode.exists(_.contains("_this_land_"))) {
            @contributionsThisLandIsYourLand(pageInfo, countryGroup, Some(maxAmount), Some("contributePage.js"), errorMessage)(block)
        } else {
            @contributionsMain(pageInfo, countryGroup, Some(maxAmount), Some("contributePage.js"), errorMessage)(block)
        }
    }
} { template =>
    @template {
        <!-- react injects its components here -->
        <section id="contribute" class="contribute-container"
        data-ab-tests="@Json.toJson(testAllocations)"
        data-country-group="@Json.stringify(Json.toJson(countryGroup))"
        data-max-amount="@maxAmount"
        data-csrf-token="@csrfToken.getOrElse("")"
            @for(code <- cmpCode) {
                data-cmp-code="@code"
            }
            @for(code <- intCmpCode) {
                data-int-cmp-code="@code"
            }
            @for(refId <- refererPageviewId) {
                data-referrer-pageview-id="@refId"
            }
            @for(refUrl <- refererUrl) {
                data-referrer-url="@refUrl"
                }
        >
        </section>

    }
}
