@import views.support.PageInfo

@import views.support.Social
@import com.gu.i18n.CountryGroup
@(pageInfo: PageInfo, social: Set[Social], countryGroup: CountryGroup, charge: Option[String])
    @main(pageInfo) {
    <script type="text/javascript">
        @if(charge.isDefined) {
          guardian.productDetails = {
            charge: '@charge.get'
        };
        }


    </script>
    <main class="giraffe__wrapper currency-@countryGroup.currency.toString.toLowerCase">
        <div class="giraffe__inner page-slice l-constrained flex-horizontal-from-tablet thanks">
            <section>
            <h1>@pageInfo.title<br/>

            <span class="thanks--description">@pageInfo.description</span>
                </h1>
            </section>
 </div>
</main>
    <section class="disclaimer">
        <div class="support-wrapper page-slice page-slice__feedback l-constrained currency-@countryGroup.currency.toString.toLowerCase">
            <div class="feedback">
                <section class="thanks--social">
                    <h2>
                        Spread the word
                    </h2>
                    <p>
                        We report for everyone. Let your friends and followers know that you support independent journalism.
                    </p>
                    <p>
                        @fragments.social(social)
                    </p>
                </section>
                <section>
                 <h2>Get the Guardian app</h2>
                    <p>Up-to-the-minute coverage, personalised alerts, offline reading and more.</p>
                    <ul class="o-bulleted-list thanks__list">
                        <li><a href="#">iPhone and iPad app</a></li>
                        <li><a href="#">Android app</a></li>
                    </ul>

                    <h2>Subscribe to our daily email</h2>
                    <p><a href="#">Get the must-read stories delivered straight to your inbox each morning in one handy email.</a></p>

                </section>
                <section>
                    <h2>Follow us on Facebook</h2>
                    <p><a href="#">Follow the Guardian's daily reporting, features and investigative journalism.</a></p>
                    <h2>Questions?</h2>
                    <p>If you have any questions about contributing to the Guardian, please <a href="#">contact us here</a></p>
                </section>
            </div>
        </div>
    </section>

    }
