@import views.support.PageInfo

@import views.support.Social
@import com.gu.i18n.CountryGroup
@(pageInfo: PageInfo, social: Set[Social], countryGroup: CountryGroup, charge: Option[String])
    @main(pageInfo) {
    <script type="text/javascript">
        @if(charge.isDefined) {
          guardian.productDetails = {
            charge: '@charge.get'
        };
        }


    </script>
    <main class="giraffe__wrapper currency-@countryGroup.currency.toString.toLowerCase">
        <div class="giraffe__inner page-slice l-constrained flex-horizontal-from-tablet thanks">
            <section>
            <h1 class="thanks--header">@pageInfo.title</h1>

            <p class="thanks--body">@pageInfo.description</p>

            <p>

                We report for everyone. Let your friends and followers know.
            </p>
                <p>
                @fragments.social(social)
                </p>
            </section>
 </div>
</main>
    <section class="disclaimer">
        <div class="support-wrapper page-slice page-slice__feedback l-constrained currency-@countryGroup.currency.toString.toLowerCase">
            <div class="feedback">
                <section>
                    <p>If you have any questions about contributing to the Guardian, please
                        <a href="mailto:contribution.support@@theguardian.com" class="support-thanks__link">
                            contact us here</a>.
                    </p>

                </section>
                <section>
                    <p>
                        The ultimate owner of the Guardian is The Scott Trust Limited, whose role it is to secure the editorial and financial independence of the Guardian in perpetuity. Reader contributions support the Guardian’s journalism.
                    </p>

                </section>
                <section>
                    <p data-shown="gbp aud eur">
                        Please note that your support of the Guardian’s journalism does not constitute a charitable donation, as such your contribution is not eligible for Gift Aid in the UK nor a tax-deduction elsewhere.
                    </p>
                    <p data-shown="usd">
                        Please note that the Guardian is not a charity, will not use your support for charitable
                        programs, and your support of the Guardian’s journalism does not constitute a
                        charitable donation. As such your contribution is not eligible to be treated as a
                        charitable deduction for federal or state taxes in the United States or elsewhere.
                    </p>
                </section>
            </div>
        </div>
    </section>

    }
