@import views.support.PageInfo

@import views.support.Social
@import com.gu.i18n.CountryGroup
@(pageInfo: PageInfo, social: Set[Social], countryGroup: CountryGroup, charge: Option[String])
    @main(pageInfo, mainScript = Some("thankYouPage.js")) {
    <script type="text/javascript">
        @if(charge.isDefined) {
          guardian.productDetails = {
            charge: '@charge.get'
        };
        }


    </script>
    <main class="giraffe__wrapper currency-@countryGroup.currency.toString.toLowerCase">
        <div class="giraffe__inner page-slice l-constrained flex-horizontal-from-tablet thanks">
            <section>
            <h1>@pageInfo.title

            <span class="thanks--description">@pageInfo.description</span>
                </h1>
            </section>
 </div>
</main>
    <section class="disclaimer">
        <div class="support-wrapper page-slice page-slice__feedback l-constrained currency-@countryGroup.currency.toString.toLowerCase">
            <div class="feedback">
                <section class="thanks--social">
                    <h2>
                        Spread the word
                    </h2>
                    <p>
                        We report for everyone. Let your friends and followers know that you support independent journalism.
                    </p>
                    <p>
                        @fragments.social(social)
                    </p>
                </section>
                <section>
                 <h2>Get the Guardian app</h2>
                    <p>Up-to-the-minute coverage, personalised alerts, offline reading and more.</p>
                    <ul class="o-bulleted-list thanks__list">
                        <li><span data-shown="gbp eur"><a href="https://itunes.apple.com/gb/app/the-guardian/id409128287?mt=8"  onClick="s.tl(true,'o','iApp')">iPhone and iPad app</a></span>
                            <span data-shown="aud"><a href="https://itunes.apple.com/au/app/the-guardian/id409128287?mt=8"  onClick="s.tl(true,'o','iApp')">iPhone and iPad app</a></span>
                            <span data-shown="usd cad"><a href="https://itunes.apple.com/us/app/the-guardian/id409128287?mt=8"  onClick="s.tl(true,'o','iApp')">iPhone and iPad app</a></span></li>
                        <li><a href="https://play.google.com/store/apps/details?id=com.guardian"  onClick="s.tl(true,'o','aApp')">Android app</a>
                        </li>
                    </ul>

                    <h2>Subscribe to our daily email</h2>
                    <p><span data-shown="gbp eur"><a href="https://www.theguardian.com/info/2015/dec/08/daily-email-uk?CMP=contribution_thankyou"  onClick="s.tl(true,'o','email')">Get the must-read stories delivered straight to your inbox each morning in one handy email.</a></span>
                        <span data-shown="aud"><a href="https://www.theguardian.com/info/2015/dec/08/daily-email-au?CMP=contribution_thankyou"  onClick="s.tl(true,'o','email')">Get the must-read stories delivered straight to your inbox each morning in one handy email.</a></span>
                        <span data-shown="usd cad"><a href="https://www.theguardian.com/info/2015/dec/08/daily-email-us?CMP=contribution_thankyou"  onClick="s.tl(true,'o','email')">Get the must-read stories delivered straight to your inbox each morning in one handy email.</a></span></p>

                </section>
                <section>
                    <h2>Follow us on Facebook</h2>
                    <p><span data-shown="gbp eur usd cad nzd"><a href="https://www.facebook.com/theguardian"  onClick="s.tl(true,'o','follow')">Follow the Guardian's daily reporting, features and investigative journalism.</a></span>
                        <span data-shown="aud"><a href="https://www.facebook.com/theguardianaustralia"  onClick="s.tl(true,'o','follow')">Follow the Guardian's daily reporting, features and investigative journalism.</a></span></p>
                    <h2>Questions?</h2>
                    <p>If you have any questions about contributing to the Guardian, please <a href="mailto:contribution.support@@theguardian.com" > contact us here</a></p>
                </section>
            </div>
        </div>
    </section>

    }
